.feed-form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 65px;
    max-width: 350px;
    input {
        height: 50px;
        background-color: #fffdfd;
        border-radius: 5px;
        border: none;
        margin-bottom: 35px;
        padding: 0 20px;
        color: #000000;
        font-size: 20px;
        font-weight: 100;
    }
    &_mini {
        margin-top: 0;
        margin-left: 0;
        input {
            height: 30px;
            margin-bottom: 10px;
        }
    }
    &__color {
        margin-bottom: 10px;
    }
    &__lacquer {
        margin-bottom: 10px;
    }
}