.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 185px;
    max-height: 50px;
    border-radius: 30px;
    color: #ffffff;
    img {
        width: 90%;
    }
    &_media {
        width: 100px;
    }
}