.slider-reviews {
    padding-top: 68px;
    &__content {
        margin: 0 auto;
        margin-top: 40px;
    }
    &__img {
        padding: 0 20px;
        position: relative;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
        border: none;
        background-color: #ffffff; /* для адаптивности с  Mozilla */
        transition: 0.3s all;
        z-index: 1;
        &:hover {
            box-shadow: 3px 3px 10px $main-color;
            border: none;
        }
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: 40px;
        left: auto;
    }  
    .slick-center {
        width: 120%;
    } 
}