.title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &_white {
        font-size: 35px;
        color: #ffffff;
        text-align: left;
        margin-left: 65px;
    }
    &_color {
        font-size: 15px;
    }
}